In [1]:
import pandas as pd 
import numpy as np

In [2]:
data_preprocessed = pd.read_csv('Absenteeism Preprocessed Dataset')
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,7,1,289,36,33,239.554,30,0,2,1,4
1,False,False,False,False,7,1,118,13,50,239.554,31,0,1,0,0
2,False,False,True,False,7,2,179,51,38,239.554,31,0,0,0,2
3,True,False,False,False,7,3,279,5,39,239.554,24,0,2,0,4
4,False,False,True,False,7,3,289,36,33,239.554,30,0,2,1,2

In [3]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [4]:
data_preprocessed['Excessive Absenteeism'] = np.where(data_preprocessed['Absenteeism Time in Hours'] > 
                                                     data_preprocessed['Absenteeism Time in Hours'].median() , 1 , 0 )

In [5]:
data_preprocessed

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,False,False,False,True,7,1,289,36,33,239.554,30,0,2,1,4,1
1,False,False,False,False,7,1,118,13,50,239.554,31,0,1,0,0,0
2,False,False,True,False,7,2,179,51,38,239.554,31,0,0,0,2,0
3,True,False,False,False,7,3,279,5,39,239.554,24,0,2,0,4,1
4,False,False,True,False,7,3,289,36,33,239.554,30,0,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,5,2,179,22,40,237.656,22,1,2,0,8,1
696,True,False,False,False,5,2,225,26,28,237.656,24,0,1,2,3,0
697,True,False,False,False,5,3,330,16,28,237.656,25,1,0,0,8,1
698,False,False,True,False,5,3,235,16,32,237.656,25,1,0,0,2,0
699,False,False,False,True,5,3,291,31,40,237.656,25,0,1,1,2,0

In [6]:
data_preprocessed['Excessive Absenteeism'].value_counts()[1]

319

In [7]:
data_preprocessed['Excessive Absenteeism'].value_counts()[1] / data_preprocessed.shape[0]

0.45571428571428574

In [8]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours', 
                                            'Daily Work Load Average', 
                                            'Distance to Work',
                                            'Day of the Week',
                                           # adding more columns through backward elimination 
                                           ],axis = 1 )

In [9]:
data_with_targets

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,False,False,False,True,7,289,33,30,0,2,1,1
1,False,False,False,False,7,118,50,31,0,1,0,0
2,False,False,True,False,7,179,38,31,0,0,0,0
3,True,False,False,False,7,279,39,24,0,2,0,1
4,False,False,True,False,7,289,33,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,5,179,40,22,1,2,0,1
696,True,False,False,False,5,225,28,24,0,1,2,0
697,True,False,False,False,5,330,28,25,1,0,0,1
698,False,False,True,False,5,235,32,25,1,0,0,0
699,False,False,False,True,5,291,40,25,0,1,1,0

In [10]:
# check if we have created a checkpoint or is data_with_target is referencing to the same object as data_preprocessed 

data_with_targets is data_preprocessed

False

In [11]:
# => we have infact created a checkpoint

In [12]:
data_with_targets.iloc[:,:14]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,False,False,False,True,7,289,33,30,0,2,1,1
1,False,False,False,False,7,118,50,31,0,1,0,0
2,False,False,True,False,7,179,38,31,0,0,0,0
3,True,False,False,False,7,279,39,24,0,2,0,1
4,False,False,True,False,7,289,33,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,5,179,40,22,1,2,0,1
696,True,False,False,False,5,225,28,24,0,1,2,0
697,True,False,False,False,5,330,28,25,1,0,0,1
698,False,False,True,False,5,235,32,25,1,0,0,0
699,False,False,False,True,5,291,40,25,0,1,1,0

In [13]:
targets = data_with_targets['Excessive Absenteeism']

In [14]:
targets

0      1
1      0
2      0
3      1
4      0
      ..
695    1
696    0
697    1
698    0
699    0
Name: Excessive Absenteeism, Length: 700, dtype: int32

In [15]:
unscaled_inputs = data_with_targets.iloc[:,:-1] 
unscaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,False,False,False,True,7,289,33,30,0,2,1
1,False,False,False,False,7,118,50,31,0,1,0
2,False,False,True,False,7,179,38,31,0,0,0
3,True,False,False,False,7,279,39,24,0,2,0
4,False,False,True,False,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,5,179,40,22,1,2,0
696,True,False,False,False,5,225,28,24,0,1,2
697,True,False,False,False,5,330,28,25,1,0,0
698,False,False,True,False,5,235,32,25,1,0,0
699,False,False,False,True,5,291,40,25,0,1,1

In [16]:
unscaled_inputs.columns

Index(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'],
      dtype='object')

In [17]:
# col_to_scale = ['Month Value', 'Day of the Week',
#        'Transportation Expense', 'Distance to Work', 'Age',
#        'Daily Work Load Average', 'Body Mass Index', 'Children',
#        'Pets']

col_to_omit = ['Reason_1', 'Absence Reason_2', 'Absence Reason 3',
               'Absence Reason 4', 'Education']

col_to_scale = [ i for i in unscaled_inputs.columns.values if i not in col_to_omit ]
col_to_scale
# we are removing dummies from getting scaled as they will lose their interpretability of being dummies if they are scaled

['Reason_1',
 'Reason_2',
 'Reason_3',
 'Reason_4',
 'Month Value',
 'Transportation Expense',
 'Age',
 'Body Mass Index',
 'Children',
 'Pets']

In [18]:
from sklearn.preprocessing import StandardScaler 

absenteeism_scaler = StandardScaler()

unscaled_inputs_temp = unscaled_inputs

absenteeism_scaler.fit(unscaled_inputs_temp[col_to_scale])

StandardScaler()

In [19]:
unscaled_inputs_temp[col_to_scale] = absenteeism_scaler.transform(unscaled_inputs_temp[col_to_scale]) 
scaled_inputs = unscaled_inputs_temp

In [20]:

scaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,-0.581749,-0.19245,-0.679248,1.388838,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,-0.581749,-0.19245,-0.679248,-0.720027,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,-0.581749,-0.19245,1.472216,-0.720027,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1.718954,-0.19245,-0.679248,-0.720027,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,-0.581749,-0.19245,1.472216,-0.720027,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1.718954,-0.19245,-0.679248,-0.720027,-0.388293,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1.718954,-0.19245,-0.679248,-0.720027,-0.388293,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1.718954,-0.19245,-0.679248,-0.720027,-0.388293,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,-0.581749,-0.19245,1.472216,-0.720027,-0.388293,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,-0.581749,-0.19245,-0.679248,1.388838,-0.388293,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [21]:
scaled_inputs.shape

(700, 11)

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
train_test_split(scaled_inputs,targets)

[     Reason_1  Reason_2  Reason_3  Reason_4  Month Value  \
 455  1.718954  -0.19245 -0.679248 -0.720027    -0.102784
 209  1.718954  -0.19245 -0.679248 -0.720027    -0.388293
 345  1.718954  -0.19245 -0.679248 -0.720027     1.610276
 334  1.718954  -0.19245 -0.679248 -0.720027     1.324766
 619 -0.581749  -0.19245  1.472216 -0.720027    -0.959313
 ..        ...       ...       ...       ...          ...
 248 -0.581749  -0.19245 -0.679248  1.388838     0.182726
 29  -0.581749  -0.19245  1.472216 -0.720027     0.468236
 178  1.718954  -0.19245 -0.679248 -0.720027    -0.959313
 335  1.718954  -0.19245 -0.679248 -0.720027     1.324766
 222  1.718954  -0.19245 -0.679248 -0.720027    -0.102784

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 455               -0.654143  0.248310         1.002633          0 -0.919030
 209               -0.578689 -1.477309        -1.349389          0 -0.919030
 345                0.356940  0.718933        -0.878984          0 -0.919030
 334                0.568211 -0.065439        -0.878984          0  2.679969
 619                0.387122  1.660180         1.237836          0  0.880469
 ..                      ...       ...              ...        ...       ...
 248               -0.654143  0.248310         1.002633          0 -0.919030
 29                -0.654143  0.248310         1.002633          0 -0.919030
 178                0.040034 -1.320435        -0.643782          0 -0.019280
 335                0.568211 -0.065439        -0.878984          0  2.679969
 222                0.356940  0.718933        -0.878984          0 -0.919030

          Pets
 455 -0.589690
 209 -0.589690
 345 -0.589690
 334 -0.589690
 619  0.268487
 ..        ...
 248 -0.589690
 29  -0.589690
 178  1.126663
 335 -0.589690
 222 -0.589690

 [525 rows x 11 columns],
      Reason_1  Reason_2  Reason_3  Reason_4  Month Value  \
 424  1.718954 -0.192450 -0.679248 -0.720027    -0.673803
 86  -0.581749 -0.192450  1.472216 -0.720027     1.324766
 129 -0.581749  5.196152 -0.679248 -0.720027    -1.530333
 551 -0.581749 -0.192450 -0.679248 -0.720027     1.324766
 109 -0.581749 -0.192450  1.472216 -0.720027     1.610276
 ..        ...       ...       ...       ...          ...
 121 -0.581749 -0.192450 -0.679248  1.388838    -1.530333
 245 -0.581749 -0.192450 -0.679248  1.388838     0.182726
 164  1.718954 -0.192450 -0.679248 -0.720027    -0.959313
 383 -0.581749 -0.192450  1.472216 -0.720027    -1.244823
 452 -0.581749 -0.192450 -0.679248  1.388838    -0.102784

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 424               -1.574681  0.091435         0.297027          0 -0.919030
 86                -0.503235 -0.536062        -0.408580          0  0.880469
 129               -0.654143 -1.006686        -1.819793          1 -0.919030
 551                0.190942  1.032682         2.649049          0 -0.019280
 109                2.092381 -1.320435         0.061825          0 -0.019280
 ..                      ...       ...              ...        ...       ...
 121               -1.574681  0.091435         0.297027          0 -0.919030
 245               -0.986140 -1.163560        -1.114186          0 -0.919030
 164               -0.654143  0.562059        -1.114186          1  0.880469
 383                1.036026  0.562059        -0.408580          0 -0.019280
 452               -0.654143  0.248310         1.002633          0 -0.919030

          Pets
 424 -0.589690
 86   1.126663
 129 -0.589690
 551 -0.589690
 109  2.843016
 ..        ...
 121 -0.589690
 245 -0.589690
 164 -0.589690
 383  0.268487
 452 -0.589690

 [175 rows x 11 columns],
 455    1
 209    1
 345    1
 334    1
 619    0
       ..
 248    1
 29     0
 178    1
 335    1
 222    1
 Name: Excessive Absenteeism, Length: 525, dtype: int32,
 424    0
 86     1
 129    1
 551    0
 109    1
       ..
 121    0
 245    0
 164    1
 383    0
 452    0
 Name: Excessive Absenteeism, Length: 175, dtype: int32]

In [24]:
x_train , x_test , y_train , y_test = train_test_split(scaled_inputs, targets , train_size=0.8 , random_state=42)

In [25]:
print(x_train.shape , y_train.shape)

(560, 11) (560,)

In [26]:
print(x_test.shape , y_test.shape)

(140, 11) (140,)

In [27]:
from sklearn.linear_model import LogisticRegression

In [28]:
from sklearn import metrics

In [29]:
reg = LogisticRegression()

In [30]:
reg.fit(x_train,y_train)

LogisticRegression()

In [31]:
reg.score(x_train,y_train)

0.7428571428571429

In [32]:
# checking accuracy manually

In [33]:
model_output = reg.predict(x_train)

In [34]:
model_output

array([1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 0])

In [35]:
model_output == y_train

82      True
51      True
220    False
669     True
545    False
       ...
71      True
106     True
270     True
435     True
102     True
Name: Excessive Absenteeism, Length: 560, dtype: bool

In [36]:
sum(model_output == y_train)

416

In [37]:
y_train.shape[0]

560

In [38]:
 sum(model_output == y_train) / y_train.shape[0]

0.7428571428571429

In [39]:
reg.coef_

array([[ 2.02576082,  0.93980501,  1.46655269,  1.19736495,  0.05674715,
         0.69669581, -0.25678428,  0.25869205, -0.27069974,  0.42837107,
        -0.37156753]])

In [40]:
reg.intercept_

array([-0.12459008])

In [41]:
features = unscaled_inputs.columns
features

Index(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'],
      dtype='object')

In [42]:
summary_table = pd.DataFrame(columns = ['Features'] , data = features )
# summary_table['Coefficients'] = np.transpose(reg.coef_)
# another way to transpose 
summary_table['Coefficients'] = reg.coef_.T

In [43]:
summary_table

                  Features  Coefficients
0                 Reason_1      2.025761
1                 Reason_2      0.939805
2                 Reason_3      1.466553
3                 Reason_4      1.197365
4              Month Value      0.056747
5   Transportation Expense      0.696696
6                      Age     -0.256784
7          Body Mass Index      0.258692
8                Education     -0.270700
9                 Children      0.428371
10                    Pets     -0.371568

In [44]:
# we want to add intercept 
# but there is no method pre append 
# we can do it this way though

In [45]:
summary_table.index = summary_table.index + 1 
summary_table.loc[0] = ['Intercept' , reg.intercept_[0]]

In [46]:
summary_table

                  Features  Coefficients
1                 Reason_1      2.025761
2                 Reason_2      0.939805
3                 Reason_3      1.466553
4                 Reason_4      1.197365
5              Month Value      0.056747
6   Transportation Expense      0.696696
7                      Age     -0.256784
8          Body Mass Index      0.258692
9                Education     -0.270700
10                Children      0.428371
11                    Pets     -0.371568
0                Intercept     -0.124590

In [47]:
summary_table.sort_index()

                  Features  Coefficients
0                Intercept     -0.124590
1                 Reason_1      2.025761
2                 Reason_2      0.939805
3                 Reason_3      1.466553
4                 Reason_4      1.197365
5              Month Value      0.056747
6   Transportation Expense      0.696696
7                      Age     -0.256784
8          Body Mass Index      0.258692
9                Education     -0.270700
10                Children      0.428371
11                    Pets     -0.371568

In [48]:
ordered_by_weights = summary_table.sort_values(by='Coefficients',ascending=False )

In [49]:
ordered_by_weights

                  Features  Coefficients
1                 Reason_1      2.025761
3                 Reason_3      1.466553
4                 Reason_4      1.197365
2                 Reason_2      0.939805
6   Transportation Expense      0.696696
10                Children      0.428371
8          Body Mass Index      0.258692
5              Month Value      0.056747
0                Intercept     -0.124590
7                      Age     -0.256784
9                Education     -0.270700
11                    Pets     -0.371568

In [50]:
ordered_by_weights['odd ratio'] = np.exp(ordered_by_weights.Coefficients)

In [51]:
print(ordered_by_weights)

                  Features  Coefficients  odd ratio
1                 Reason_1      2.025761   7.581877
3                 Reason_3      1.466553   4.334268
4                 Reason_4      1.197365   3.311380
2                 Reason_2      0.939805   2.559482
6   Transportation Expense      0.696696   2.007110
10                Children      0.428371   1.534755
8          Body Mass Index      0.258692   1.295235
5              Month Value      0.056747   1.058388
0                Intercept     -0.124590   0.882859
7                      Age     -0.256784   0.773535
9                Education     -0.270700   0.762846
11                    Pets     -0.371568   0.689652

In [52]:
# => we will do backward eleimination of these features (Daily Work Load Average , Distance to Work , Day of the week) as they are close to 0 and negative as they have really low weights or effect on the output
# the previous results can be seen here  
#  Features  Coefficients  odd ratio
# 1          Absence Reason 1      2.869817  17.633785
# 2          Absence Reason 2      2.474061  11.870551
# 3          Absence Reason 3      1.470794   4.352691
# 4          Absence Reason 4      0.891490   2.438762
# 7    Transportation Expense      0.623168   1.864826
# 13                 Children      0.436993   1.548046
# 11          Body Mass Index      0.218185   1.243818
# 5               Month Value      0.055744   1.057327
# 10  Daily Work Load Average      0.018125   1.018291
# 8          Distance to Work     -0.038303   0.962421
# 12                Education     -0.178195   0.836779
# 6           Day of the Week     -0.190921   0.826198
# 9                       Age     -0.230520   0.794121
# 14                     Pets     -0.327842   0.720477
# 0                 Intercept     -1.687751   0.184935

In [53]:
reg.score(x_test,y_test)

0.7357142857142858

In [54]:
probabilities = reg.predict_proba(x_test)
probabilities

array([[0.24883237, 0.75116763],
       [0.7785952 , 0.2214048 ],
       [0.69086161, 0.30913839],
       [0.59238129, 0.40761871],
       [0.43734721, 0.56265279],
       [0.06844871, 0.93155129],
       [0.70636735, 0.29363265],
       [0.36443131, 0.63556869],
       [0.92548125, 0.07451875],
       [0.76141859, 0.23858141],
       [0.87746749, 0.12253251],
       [0.7054648 , 0.2945352 ],
       [0.2386504 , 0.7613496 ],
       [0.34974394, 0.65025606],
       [0.75292274, 0.24707726],
       [0.47045329, 0.52954671],
       [0.97774678, 0.02225322],
       [0.21038681, 0.78961319],
       [0.87919887, 0.12080113],
       [0.60123751, 0.39876249],
       [0.59723345, 0.40276655],
       [0.63332758, 0.36667242],
       [0.57983283, 0.42016717],
       [0.70882005, 0.29117995],
       [0.87527005, 0.12472995],
       [0.14711959, 0.85288041],
       [0.60898026, 0.39101974],
       [0.87922377, 0.12077623],
       [0.77582188, 0.22417812],
       [0.45737225, 0.54262775],
       [0.89304993, 0.10695007],
       [0.87656127, 0.12343873],
       [0.26104952, 0.73895048],
       [0.34241092, 0.65758908],
       [0.74989637, 0.25010363],
       [0.32438517, 0.67561483],
       [0.57983283, 0.42016717],
       [0.88172495, 0.11827505],
       [0.07529429, 0.92470571],
       [0.69451367, 0.30548633],
       [0.46238907, 0.53761093],
       [0.63708185, 0.36291815],
       [0.23977127, 0.76022873],
       [0.88259834, 0.11740166],
       [0.7868916 , 0.2131084 ],
       [0.26476796, 0.73523204],
       [0.61104387, 0.38895613],
       [0.1021267 , 0.8978733 ],
       [0.72802922, 0.27197078],
       [0.79752741, 0.20247259],
       [0.76141859, 0.23858141],
       [0.58377485, 0.41622515],
       [0.59344379, 0.40655621],
       [0.05308907, 0.94691093],
       [0.79352536, 0.20647464],
       [0.7868916 , 0.2131084 ],
       [0.01774914, 0.98225086],
       [0.61488755, 0.38511245],
       [0.11224925, 0.88775075],
       [0.19096338, 0.80903662],
       [0.39829429, 0.60170571],
       [0.89149258, 0.10850742],
       [0.50664627, 0.49335373],
       [0.36443131, 0.63556869],
       [0.87746749, 0.12253251],
       [0.87574034, 0.12425966],
       [0.29698261, 0.70301739],
       [0.98872091, 0.01127909],
       [0.62253166, 0.37746834],
       [0.47347417, 0.52652583],
       [0.76141859, 0.23858141],
       [0.64824332, 0.35175668],
       [0.27394089, 0.72605911],
       [0.58377485, 0.41622515],
       [0.79423254, 0.20576746],
       [0.32438517, 0.67561483],
       [0.5973468 , 0.4026532 ],
       [0.78959592, 0.21040408],
       [0.75592441, 0.24407559],
       [0.84951913, 0.15048087],
       [0.06844871, 0.93155129],
       [0.09545831, 0.90454169],
       [0.88670054, 0.11329946],
       [0.64081948, 0.35918052],
       [0.89304993, 0.10695007],
       [0.28815388, 0.71184612],
       [0.64081948, 0.35918052],
       [0.10663312, 0.89336688],
       [0.21183909, 0.78816091],
       [0.58770619, 0.41229381],
       [0.69431114, 0.30568886],
       [0.38953224, 0.61046776],
       [0.56570186, 0.43429814],
       [0.74989637, 0.25010363],
       [0.42238124, 0.57761876],
       [0.07529429, 0.92470571],
       [0.48452517, 0.51547483],
       [0.242737  , 0.757263  ],
       [0.32105255, 0.67894745],
       [0.24160667, 0.75839333],
       [0.75853656, 0.24146344],
       [0.33152678, 0.66847322],
       [0.7868916 , 0.2131084 ],
       [0.21865766, 0.78134234],
       [0.77578964, 0.22421036],
       [0.25484731, 0.74515269],
       [0.15123213, 0.84876787],
       [0.69451367, 0.30548633],
       [0.8020625 , 0.1979375 ],
       [0.19908905, 0.80091095],
       [0.23977127, 0.76022873],
       [0.33247006, 0.66752994],
       [0.3608771 , 0.6391229 ],
       [0.70208713, 0.29791287],
       [0.23737066, 0.76262934],
       [0.43434589, 0.56565411],
       [0.59216382, 0.40783618],
       [0.07269843, 0.92730157],
       [0.41843343, 0.58156657],
       [0.10898465, 0.89101535],
       [0.77299143, 0.22700857],
       [0.21783337, 0.78216663],
       [0.60718632, 0.39281368],
       [0.25541488, 0.74458512],
       [0.24971801, 0.75028199],
       [0.61583922, 0.38416078],
       [0.7868916 , 0.2131084 ],
       [0.75555663, 0.24444337],
       [0.30379219, 0.69620781],
       [0.7961673 , 0.2038327 ],
       [0.57983283, 0.42016717],
       [0.24282505, 0.75717495],
       [0.17678151, 0.82321849],
       [0.48452517, 0.51547483],
       [0.58770619, 0.41229381],
       [0.04466236, 0.95533764],
       [0.46943692, 0.53056308],
       [0.32888413, 0.67111587],
       [0.60123751, 0.39876249],
       [0.87479747, 0.12520253]])

In [55]:
probabilities[:,1]

array([0.75116763, 0.2214048 , 0.30913839, 0.40761871, 0.56265279,
       0.93155129, 0.29363265, 0.63556869, 0.07451875, 0.23858141,
       0.12253251, 0.2945352 , 0.7613496 , 0.65025606, 0.24707726,
       0.52954671, 0.02225322, 0.78961319, 0.12080113, 0.39876249,
       0.40276655, 0.36667242, 0.42016717, 0.29117995, 0.12472995,
       0.85288041, 0.39101974, 0.12077623, 0.22417812, 0.54262775,
       0.10695007, 0.12343873, 0.73895048, 0.65758908, 0.25010363,
       0.67561483, 0.42016717, 0.11827505, 0.92470571, 0.30548633,
       0.53761093, 0.36291815, 0.76022873, 0.11740166, 0.2131084 ,
       0.73523204, 0.38895613, 0.8978733 , 0.27197078, 0.20247259,
       0.23858141, 0.41622515, 0.40655621, 0.94691093, 0.20647464,
       0.2131084 , 0.98225086, 0.38511245, 0.88775075, 0.80903662,
       0.60170571, 0.10850742, 0.49335373, 0.63556869, 0.12253251,
       0.12425966, 0.70301739, 0.01127909, 0.37746834, 0.52652583,
       0.23858141, 0.35175668, 0.72605911, 0.41622515, 0.20576746,
       0.67561483, 0.4026532 , 0.21040408, 0.24407559, 0.15048087,
       0.93155129, 0.90454169, 0.11329946, 0.35918052, 0.10695007,
       0.71184612, 0.35918052, 0.89336688, 0.78816091, 0.41229381,
       0.30568886, 0.61046776, 0.43429814, 0.25010363, 0.57761876,
       0.92470571, 0.51547483, 0.757263  , 0.67894745, 0.75839333,
       0.24146344, 0.66847322, 0.2131084 , 0.78134234, 0.22421036,
       0.74515269, 0.84876787, 0.30548633, 0.1979375 , 0.80091095,
       0.76022873, 0.66752994, 0.6391229 , 0.29791287, 0.76262934,
       0.56565411, 0.40783618, 0.92730157, 0.58156657, 0.89101535,
       0.22700857, 0.78216663, 0.39281368, 0.74458512, 0.75028199,
       0.38416078, 0.2131084 , 0.24444337, 0.69620781, 0.2038327 ,
       0.42016717, 0.75717495, 0.82321849, 0.51547483, 0.41229381,
       0.95533764, 0.53056308, 0.67111587, 0.39876249, 0.12520253])

In [56]:
import pickle

In [57]:
with open('model','wb') as file : # wb means write bytes 
    pickle.dump(reg,file )

In [58]:
with open('scaler','wb') as file :  # this is for saving the absenteeism scaler 
    pickle.dump(absenteeism_scaler,file)